{% extends "base.html.twig" %}

{% block title %}
	Social Piston
{% endblock %}

{% block body %}

	<h1 class="text-center p-4 ">
		The Riders Billboard
	</h1>
	<hr/>
	<div class="d-flex justify-content-around flex-wrap">

		{% for post in posts %}
			<div class="card m-2" style="width: 18rem;">
				{% if post.image %}
					<img class="card-img-top" src={{ post.image }} alt="">
				{% endif %}
				<div class="card-body">
					{% if post.title %}
						<h5 class="card-title">{{ post.title }}</h5>
					{% endif %}
					<p class="card-text">{{ post.content }}</p>

					{% if app.user %}
						{% if app.user == post.user %}
							<a href="{{ path('delete-post', {'id':post.id}) }}" class="btn btn-danger">Supprimer</a>
							<a href="{{ path('edit-post', {'id':post.id}) }}" class="btn btn-warning">Modifier</a>
						{% endif %}

					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
